@import url(../vendor/normalize.css);

#container {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 10px;
}

.logo {
    cursor: pointer;
}

.fox {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 265px;
}

.fox_text {
    position: absolute;
    font-family: "Nova Cut", system-ui, sans-serif;
    left: 320px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 800px;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 50px; 
}

.nav_btn {
    background-color: blue;
    color: antiquewhite;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.nav_btn:hover {
    opacity: 0.9;
}

.item {
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
    text-decoration-color: gold;
    font-weight: 500;
}

.span {
    color: teal;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
}

.titlep {
    text-align: center;
    box-sizing: border-box;
    font-size: 25px;
    color: gray;
    position: relative;
}

.title_btn {
    display: flex;
    padding: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    left: 755px;
    top: 370px;
    cursor: pointer;
    opacity: 0.7;
}

.title_btn:hover {
    opacity: 1;
}

.kitsune {
    background-image: url(../image/fox.jpg);
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
}